@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background-color: #b4b0b0;
  line-height: 1.6; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; }

/* Encabezado */
/*
header {
    background-color: #0077b6;
    color: #fff;
    text-align: center;
    padding: 10px 0;


    h1 {
        font-size: 36px;
    }
}
*/
/* Navegación */
nav {
  background-color: #3f8efc;
  color: #fff;
  border-bottom: #2f6abd 3px solid; }
  nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center; }
  nav li {
    margin: 0 5px; }
  nav .nav-item {
    font-size: 10px; }
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 0px 5px; }
  nav a:hover {
    color: #0077b6; }

/* Secciones */
section {
  padding: 40px 0; }

/* Sección de servicios */
.service {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); }

.service h3 {
  color: #0077b6;
  font-size: 24px; }

/* Sección de contacto */
section#contacto {
  background-color: #0077b6;
  color: #fff; }

section#contacto form {
  margin-top: 20px; }

section#contacto label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold; }

section#contacto input[type="text"],
section#contacto input[type="email"],
section#contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px; }

section#contacto button[type="submit"] {
  background-color: #005faa;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

section#contacto button[type="submit"]:hover {
  background-color: #0077b6; }

/* Pie de página */
footer {
  background-color: #005faa;
  color: #fff;
  text-align: center;
  padding: 20px 0; }

/* Estilos para dispositivos móviles y tablets */
@media (max-width: 768px) {
  header h1 {
    font-size: 28px; }
  section {
    padding: 20px 0; }
  section#contacto form {
    margin-top: 10px; } }
