@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./_nav.scss);


:root {
    --color-nav: #0F29B6;
    --color-nav-dos: #489FDD;
    --color-fonts: #fff;
    --degrade-nav: linear-gradient(117deg, rgba(15, 41, 182, 1) 0%, rgba(72, 159, 221, 1) 100%);
    --font-monserrat: 'Montserrat', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --text-shadow-subtitulos: .1px .1px 10px rgb(193, 192, 192);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b4b0b0;
}

/* Navegación */

nav {
    background-image: var(--degrade-nav);
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 70%;

    .pe-3 {
        margin-right: 5rem;
    }

    button {
        background-color: transparent;
        border: none;
        margin-right: 5%;

        i {
            color: #fff;
            font-size: 150%;
        }
    }

    a {
        margin: 0% 2%;
        padding: 0%;

        img {
            width: 7%;
            filter: drop-shadow(0px 0px 4px var(--color-nav-dos));
        }
    }

    .navbar-toggler {
        border: transparent;
    }

    .offcanvas-header,
    .offcanvas-body {
        background-color: transparent;
    }

    .offcanvas-body {
        padding: 5%;
        font-size: 150%;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10%;
    }

    .nav-item {
        font-size: 100%;

        &:hover {
            font-weight: 700;
        }
    }

    img {
        width: 15%;
        height: 15%;
        margin: 0%;
    }
}

.offcanvas {
    background-color: #005faa;
}

.offcanvas-header {
    padding: 0%;

    img {
        width: 20%;
        height: 90%;
        margin: 0%;
    }

    .offcanvas-title {
        font-weight: 800;
        color: #005faa;
    }

    button {
        font-size: 90%;

        i {
            color: #005faa;
        }
    }
}


/* Mensaje pop-up Whatsapp */

.popup {
    display: none;
    position: fixed;
    top: 72%;
    right: 11%;
    z-index: 2;
    width: 20%;
}

.popup::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.popup-content {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cerrar-popup {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-popup:hover {
    color: #000;
}


/* Boton Whatsapp*/

.botonWp {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    position: fixed;
    top: 74%;
    right: 5%;
    z-index: 1;

    button {
        border: none;
        background-color: #25D366;
        border-radius: 50%;
        box-shadow: 2px 2px 3px #999;
        text-align: center;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
    }

    i {
        color: var(--color-fonts);
        font-size: 250%;
    }
}

/* Main */


main {
    img {
        margin-top: 2%;
        width: 100%;
        height: 100%;
    }

    .presentacion-main {
        max-width: 500px;
        position: absolute;
        top: 33%;
        left: 5%;
        background-color: transparent;
        color: #fff;

        h1 {
            font-size: 400%;
            font-family: var(--font-inter);
            font-weight: 800;
            line-height: 100%;
            margin-bottom: 3%;
        }

        p {
            font-size: 120%;
            line-height: 1;
            font-weight: 500;
            letter-spacing: 1.2px;
            margin-bottom: 5%;
        }

        button {
            background-color: transparent;
            border: none;
            padding: 5% 2%;
        }

        a {
            text-decoration: none;
            color: #fff;
            padding: 2% 0%;
        }

        .cta {
            position: relative;
            padding: 19px 22px;
            transition: all 0.2s ease;
        }

        .cta:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 28px;
            background: rgba(15, 41, 182, 0.5);
            width: 56px;
            height: 56px;
            transition: all 0.3s ease;
        }

        .cta span {
            font-family: var(--font-inter);
            position: relative;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.25em;
            text-transform: uppercase;
            vertical-align: middle;
        }

        .cta svg {
            position: relative;
            top: 0;
            margin-left: 10px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #fff;
            stroke-width: 2;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }

        .cta:hover:before {
            width: 100%;
            background: #0F29B6;
        }

        .cta:hover svg {
            transform: translateX(0);
        }

        .cta:active {
            transform: scale(0.96);
        }
    }
}

/* Secciones */


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: var(--font-monserrat);
}

/* Boton ir hacia arriba */


.ir-arriba {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    position: fixed;
    bottom: 2%;
    left: 5%;
    z-index: 1;
    display: none;
    transition: transform 0.5s ease-in-out;

    button {
        border: none;
        background: transparent;
        text-align: center;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bi-arrow-up-circle-fill {
        font-size: 300%;
        color: var(--color-nav-dos);
    }
}

/* Seccion electrodomesticos */


.seccion-electrodomesticos {
    background-color: var(--color-nav);

    .contenedor-electrodomesticos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3%;
        width: 100%;
    }

    .cards-electrodomesticos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20%;

        img {
            width: 100%;
            margin-bottom: 5%;
            filter: drop-shadow(-1px 1px 4px rgb(78, 78, 78));
        }

        p {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.2rem 2rem;
            font-family: var(--font-inter);
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            color: #fff;
            backface-visibility: hidden;
            border: 0.1rem solid white;
            border-radius: 3rem;
        }
    }
}

.aire {
    margin: 0% 3%;
}

/* Seccion sobre nosotros */


.seccion-nosotros {
    width: 100%;
    padding: 3%;

    .presentacionba {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--font-monserrat);

        .subtitulos-secciones {
            color: var(--color-nav);
            font-size: 250%;
            font-weight: 750;
            margin-bottom: 3%;
            letter-spacing: .2px;
            text-shadow: var(--text-shadow-subtitulos);
        }

        p {
            width: 80%;
            font-size: 130%;
            text-align: center;
            font-weight: 500;
            line-height: 150%;
        }
    }
}

/* Seccion marcas */


.seccion-marcas {
    width: 100%;
    padding: 5%;

    .container-seccion-marcas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .subtitulos-secciones {
            color: var(--color-nav);
            font-size: 250%;
            font-weight: 750;
            margin-bottom: 3%;
            letter-spacing: .2px;
            font-family: var(--font-monserrat);
            text-shadow: var(--text-shadow-subtitulos);
        }

        .marcas {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 80%;

            img {
                width: 18%;
                margin: 0% 1%;
            }
        }
    }
}

/* Seccion servicios */


.seccion-servicios {
    width: 100%;
    padding: 5%;

    .container-servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subtitulos-secciones {
        color: var(--color-nav);
        font-size: 250%;
        font-weight: 750;
        margin-bottom: 3%;
        letter-spacing: .2px;
        font-family: var(--font-monserrat);
        text-shadow: var(--text-shadow-subtitulos);
    }

    .especificacion-servicios {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 5%;
        width: 90%;
        padding: 1%;
    }

    .servicios-reparaciones {
        width: 45%;
    }

    .sub-titulos-servicios {
        color: var(--color-nav);
        font-size: 140%;
        font-weight: 750;
        margin-bottom: 5%;
        letter-spacing: .2px;
        font-family: var(--font-monserrat);
        margin-left: 15%;
        text-shadow: var(--text-shadow-subtitulos);
    }

    .uno {
        margin-left: 5%;
    }

    .servicios-reparaciones-dos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    i {
        font-size: 120%;
        color: var(--color-nav);
        margin-right: 5%;
    }

    p {
        font-size: 120%;
        font-weight: 600;
    }
}

/* Seccion zonas */


.seccion-zonas {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 2% auto;

    .container-zonas {
        display: flex;
        transition: transform 0.5s ease-in-out;

        .zonas-cajas {
            min-width: 90%;
            background-image: var(--degrade-nav);
            color: var(--color-fonts);
            border-radius: 20px;
            padding: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0% 5%;

            .titlo-zonas {
                background-color: var(--color-fonts);
                color: var(--color-nav);
                border-radius: 20px;
                width: 40%;
                padding: 1% 2%;
                font-weight: 900;
                font-size: 300%;
                margin-bottom: 1%;
            }

            .subtitulo-zonas {
                font-weight: 700;
                width: 40%;
                font-size: 150%;
                margin-bottom: 5%;
            }
        }
    }

    .cuerpo-zonas {
        width: 90%;
        font-size: 150%;
    }
}

.izquierda,
.derecha {
    font-size: 250%;
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: var(--color-nav);
    transform: translateX(-50%);
}

.izquierda {
    left: 30px;
}

.derecha {
    right: 2px;
}

.subtitulos-secciones {
    color: var(--color-nav);
    font-size: 250%;
    font-weight: 750;
    margin-bottom: 3%;
    letter-spacing: .2px;
    font-family: var(--font-monserrat);
    text-shadow: var(--text-shadow-subtitulos);
    text-align: center;
}


/* Barra divisora */

.barra {
    display: flex;
    justify-content: center;
    align-content: center;

    .barra-divisora {
        background-image: var(--degrade-nav);
        width: 30%;
        height: 3px;
        opacity: 50%;
    }
}


/* Pie de página */

footer {
    width: 100%;
    background-color: #005faa;
    color: #fff;
    text-align: center;
}


/* Media queries */

@media screen and (max-width: 1200px) {

    /* Navegacion */
    nav {
        a {
            img {
                width: 10%;
            }
        }

        .nav-item {
            font-size: 90%;
        }
    }

    /* Main */

    main {
        .presentacion-main {
            top: 35%;
            left: 4%;
        }
    }

    /* Mensaje pop-up Whatsapp */

    .popup {
        top: 72%;
        right: 13%;
        width: 30%;
    }

    /* Boton Whatsapp */

    .botonWp {
        top: 73%;
    }

    /* Seccion electrodomesticos */

    .seccion-electrodomesticos {
        .contenedor-electrodomesticos {
            padding: 1%;
        }

        .cards-electrodomesticos {
            p {
                font-size: 12px;
            }

        }
    }

    .aire {
        margin: 0% 1%;
    }

    /* Seccion sobre nosotros */

    .seccion-nosotros {
        p {
            font-size: 100%;
        }
    }

    /* Seccion servicios */

    .seccion-servicios {
        .especificacion-servicios {
            width: 100%;
        }

        .sub-titulos-servicios {
            margin-left: 0%;
        }
    }

    /* Seccion zonas */

    .seccion-zonas {
        .zonas-cajas {
            min-width: 70%;
        }
    }

    .izquierda,
    .derecha {
        top: 55%;
    }

    .izquierda {
        left: 28px;
    }

    .derecha {
        right: -12px;
    }
}


@media screen and (max-width: 951px) {

    /* Menu Navegación */
    nav {
        a {
            width: 25%;

            img {
                width: 30%;
            }
        }

        button {
            i {
                font-size: 200%;
            }

        }
    }

    /* Main */

    main {
        img {
            margin-top: 5%;
        }

        .presentacion-main {
            top: 35%;
            left: 3%;

            h1 {
                font-size: 350%;
            }

            p {
                font-size: 110%;
                width: 90%;
            }

            .cta {
                border-radius: 28px;
                background: rgba(15, 41, 182, 1);
                padding: 15px 19px;

                span {
                    font-size: 14px;
                }
            }

            .cta:before {
                background: transparent;
            }
        }
    }

    /* Mensaje pop-up Whatsapp */

    .popup {
        top: 80%;
        right: 14%;
        width: 30%;
    }

    .popup-content {
        padding: 10px;
    }

    /* Boton Whatsapp */
    .botonWp {
        top: 80%;
        right: 4%;
    }


    /* Seccion electrodomesticos */

    .seccion-electrodomesticos {
        .contenedor-electrodomesticos {
            padding: 2%;

            .cards-electrodomesticos {
                width: 20%;

                p {
                    font-size: 15px;
                    padding: 3% 6.5%;
                    margin: 1% 0%;
                }
            }
        }
    }

    #aire {
        width: 25%;
    }

    /* Seccion zonas */

    .seccion-zonas {
        .container-zonas {
            .zonas-cajas {
                min-width: 80%;
                margin: 0% 11%;
            }
        }
    }

    .cuerpo-zonas {
        width: 80%;
    }

    .izquierda {
        left: 50px;
    }

    .derecha {
        right: 2px;
    }
}


@media screen and (max-width: 769px) {

    /* Main */

    main {
        .presentacion-main {
            top: 35%;
            left: 4%;

            h1 {
                font-size: 270%;
            }

            p {
                font-size: 100%;
                width: 70%;
            }
        }

        .cta {
            padding: 10px 19px;
        }
    }

    /* Mensaje pop-up Whatsapp */

    .popup {
        top: 77%;
        right: 15.5%;
        width: 35%;
    }

    .popup-content {
        padding: 8px;

        p {
            font-size: 15px;
        }
    }

    /* Boton Whatsapp*/

    .botonWp {
        top: 78%;
        right: 5%;

        button {
            width: 60px;
            height: 60px;
            padding-left: 5%;
            padding-bottom: 4%;
        }

        i {
            font-size: 250%;
        }
    }


    /* Seccion electrodomesticos */

    .seccion-electrodomesticos {
        .contenedor-electrodomesticos {
            padding: 1.5%;

            .cards-electrodomesticos {
                img {
                    margin-bottom: 1%;
                }

                p {
                    font-size: 10px;
                }
            }
        }
    }

    /* Seccion marcas */

    .seccion-marcas {
        .container-seccion-marcas {
            .marcas {
                width: 90%;
            }
        }
    }

    /* Seccion zonas */

    .seccion-zonas {
        .container-zonas {
            .zonas-cajas {
                margin: 0% 10%;

                .subtitulo-zonas {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 601px) {

    /* Main */

    main {
        .presentacion-main {
            top: 26%;
            left: 4%;

            h1 {
                font-size: 200%;
                margin-bottom: 2%;
            }

            p {
                font-size: 80%;
                width: 50%;
                margin-bottom: 1%;
            }


            .cta {
                padding: 10px 15px;

                span {
                    font-size: 12px;
                }
            }
        }
    }

    /* Mensaje pop-up Whatsapp */

    .popup {
        top: 58%;
        right: 14%;
        width: 35%;
    }

    .popup-content {
        padding: 8px;

        p {
            font-size: 12px;
            margin-bottom: 0%;
        }
    }

    .popup::before {
        border-width: 10px;
        top: 65%;
    }

    .popup-content .cerrar-popup {
        font-size: 15px;
    }

    /* Boton Whatsapp*/

    .botonWp {
        top: 60%;
        right: 5%;

        button {
            width: 40px;
            height: 40px;
            padding-left: 5%;
            padding-bottom: 4%;
        }

        i {
            font-size: 160%;
        }
    }


    /* Subtitulos secciones */

    .seccion-nosotros {
        .presentacionba {
            .subtitulos-secciones {
                font-size: 200%;
            }

            p {
                width: 90%;
                font-size: 100%;
            }
        }
    }


    /* Seccion marcas */

    .seccion-marcas .container-seccion-marcas .subtitulos-secciones {
        font-size: 200%;
    }

    /* Seccion servicios */


    .seccion-servicios {
        .container-servicios {
            .subtitulos-secciones {
                font-size: 200%;
            }

            .sub-titulos-servicios {
                font-size: 130%;
            }

            i {
                font-size: 100%;
            }

            p {
                font-size: 100%;
            }
        }
    }


    /* Seccion zonas */


    .seccion-zonas {
        .container-zonas {
            .zonas-cajas {
                margin: 0% 10%;

                .titlo-zonas {
                    width: 60%;
                    font-size: 250%;
                }

                .subtitulo-zonas {
                    width: 60%;
                    font-size: 100%;
                }
            }
        }

        .cuerpo-zonas {
            font-size: 100%;
        }
    }

    .izquierda {
        left: 30px;
    }

    #derecha {
        right: -10px;
    }

}

@media screen and (max-width: 500px) {
    /* Navegación */

    nav {

        button {
            i {
                font-size: 100%;
            }
        }
    }

    main {
        img {
            margin-top: 10%;
        }

        .presentacion-main {
            top: 22%;
            left: 4%;

            h1 {
                font-size: 150%;
                margin-bottom: 2%;
            }

            p {
                font-size: 70%;
                width: 40%;
                margin-bottom: 1%;
            }


            .cta {
                padding: 8px 10px;

                span {
                    font-size: 9px;
                }
            }
        }
    }
    
    /* Mensaje pop-up Whatsapp */

    .popup {
        top: 55%;
        right: 16%;
    }

    .popup-content {
        padding: 5px;

        p {
            font-size: 10px;
        }
    }

        /* Boton Whatsapp*/

        .botonWp {
            top: 55%;
        }
}
